@import "./normalize.min.css";

html {
    color: #333;
    font-size: 1em;
    line-height: 1.4;
}

* {
    box-sizing: border-box;
    position: relative;
}

$alfa-slab-one: 'Alfa Slab One', cursive;
$noto-sans: 'Noto Sans', sans-serif;

@import "./helpers.scss";
@import "./components/App.scss";


@import "./print.scss";
