.App {
    padding-top: 100px;
    color: #444;

    h2 {
        font-family: $alfa-slab-one;
        font-weight: 400;
        font-size: 5rem;
        letter-spacing: 2px;
        text-align: center;
        color: lightgreen;
    }
}
